* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

#box-primary {
  background: rgb(2,0,36);
  background: linear-gradient(25deg, rgba(2,0,36,1) 17%, rgba(22,29,54,1) 61%);
  width: 100vw;
  height: 100vh;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.playfairDisplayTitle {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-size: 2em;
}

#navbar {
  margin: 4% 2%;
  font-size: 0.8em;  
}

#navbar li {
  width: 18%;
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1% 2%;
  margin: 0.5%;
  text-align: center;
  box-sizing: border-box;
}

#navbar li a{

}