*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    max-width: 1200px; 
    margin: auto;
}


header{
    border: 2px solid blue;
}


img{
    max-width: 100%;
}

div{
 border: 7px solid orangered
/* overflow: auto; */
}

div.clearfix::after{
    content: "";
    clear: both;
    display: block;
}


article{
    border: 2px solid purple;
    float: left;
    /*width: 800px;*/
    width: calc((800 / 1200) * 100%);
    padding: 0 10px;
}


aside{
    border: 2px solid green;
    float: left;
    /*width: 400px;*/
    width: calc((400 / 1200) * 100%);
    padding: 0 10px;
}

p:nth-child(3):hover{
    font-weight: bold;
}


/* p:nth-child(3)::after{
    content: "Io sono un tag paragrafo";
    color: darkcyan;
} */

div + p::after{
    content: "Io sono un tag paragrafo";
    color: darkcyan;
}

footer{
    border: 2px solid red;
    /* clear: left; */
    margin-top: 20px ;
}

/*
INIZIO MEDIA QUERY
In questo modo il layout diventa responsive
*/
@media screen and (max-width:1024px){
    article{
        width: 100%;
    }

    aside{
        width: 100%;
    }
}