*{box-sizing: border-box;}

body{
    margin:0;
    font-family: sans-serif;
}



h1{
    text-align: center;
}

button{
    font-size: 2em; 
    padding: 10px 30px; 
    display: block; 
    margin: 0 auto;
    display: none;
}

#slider{
    border:solid 3px black;
    max-width: 1500px;
    height: 550px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}


.image{
    /*border: solid 5px red;*/
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left:100%;
    top:0;
}

.bancone{
    background-image: url(../immagini/bancone-bar-porto-osiense.jpg);
}

.cocktail{background-image: url(../immagini/cocktail-bar-portofluviale.jpg);
}
.trattoria{
    background-image: url(../immagini/decorazione-trattoria-portofluviale.jpg);
}

.entrata{
    background-image: url(../immagini/entrata-portofluviale.jpg);
}

.pizza{
    background-image: url(../immagini/pizza-all-aperto-ostiense.jpg);
}



.negativa{
    left:-100%;
    transition: 1s;
}

.visibile{
    left:0;
    transition: 1s;
}

/*
#slider:hover .cocktail{
    left:0;
    background-image: url(../immagini/entrata-portofluviale.jpg);
}
*/