html, body {
    background: hsla(30, 52%, 72%, 1);
    background: linear-gradient(45deg, hsla(30, 52%, 72%, 1) 20%, hsla(27, 31%, 55%, 1) 50%, hsla(24, 38%, 36%, 1) 91%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DDB892", endColorstr="#B08968", GradientType=1 );
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}


h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    box-sizing: border-box;
}

#form1 {
    width: 40%;
    float: right;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

input, textarea, button {
    background-color:  #9c6644;
    border:  2px solid black;
    width: 90%;
    margin: 10px 0px 10px 0;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 1em;
}

textarea {
    height: 70px;
    max-height: 50%;
}

::placeholder {
    color: white;
    text-align: center;
}

button {
    display: block;
    color: white;
}

button:hover {
    background-color: #2b160a; 
}