nav.orizzontal ul { display:inline; width:100%; }

nav.orizzontal ul li {  display:inline; margin:0 15px;  }


nav a {
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#eeeeee;
}
	
nav a:hover, nav a:focus {
	-moz-box-shadow: 0 0 4px #999999;
	-webkit-box-shadow: 0 0 4px #999999;
	box-shadow: 0 0 4px #999999;
	background:#dddddd;
	outline:none;
}


p {
	padding:10px;
	margin-top:20px;
	background:#eeeeee;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#primo:target {
	background-color: #aaa;
}





