*{
    box-sizing: border-box;
  }
  
  /* @font-face{
    font-family: social;
    src: url(../font/social.woff2),
        url(../font/social.woff),
        url(../font/social.ttf);
  } */
  
  @font-face {
    font-family: 'rubiklight_italic';
    src: url('../fontSquirrel/rubik-lightitalic-webfont.woff2'),
         url('../fontSquirrel/rubik-lightitalic-webfont.woff');
    font-weight: normal;
    font-style: normal;
  }


  /*
  In questo esercizio aggiungiamo le icone social sfruttando la tecnica CSS Sprite, che consiste nell'uso di immagini Sprite, ovvero immagini composte a loro volta ta molteplici immagini (collage di immagini).
  Questa tecnica permette ti ottimizzare i tempi di caricamento della pagina perchè consente di ridurre il numero di immagini da caricarcare; concettualmente la tecnica Sprite e la tecnica dei web-icon-font fanno la stessa cosa, ma in realtà sono diverse per principalmente 2 motivi:

  -il tipo di contenuto che si vuole gestire => web-icon-font permette di implementare icone ed in generale immagini molto semplici; di contro la tecnica sprite => consente di gestire immagini più complesse, ad esempio con colori e sfumature;

  -i tempi in cui l'elemento gestito con una di queste 2 tecniche rimarrà nella pagina: se siamo certi che esso abbia una vita medio-lunga allora possiamo usare le immagini Sprite, al contrario se l'elemento permarrà per un breve periodo nel nostro layout allora meglio usare un font iconico (web-icon-font).
  */
  
  
  
  body {
    margin: 20px;
    padding: 0;
    font-family: "Georgia", serif;
    line-height: 150%;
  }
  
  h1 {
    line-height: 100%;
  }
  
  #header{
    background-color: greenyellow;
    padding: 20px;
  }
  
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: darksalmon;
  }
  
  #nav li{
    float: left;
    text-align: center;
    width: calc(100% / 4);
    padding: 10px;
  }
  
  #content{
    margin: 15px 0;
    background-color: rgb(242, 192, 99);
    padding: 10px;
    font-family: 'rubiklight_italic';
  }
  
  #sidebar{
    padding: 10px;
    background-color: cornflowerblue;
  }
  
  #sidebar ul{
    background-color: cornflowerblue;
  }
  
  #sidebar ul li{
    font-family: social;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background-color: orangered; */
    margin: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: 1s;
    background-image: url(spriteSocial.png);
    background-size: cover;
  }

  #sidebar ul li:nth-of-type(2){
    background-position: -510px;
  }

  #sidebar ul li:nth-of-type(3){
    background-position: -1020px;
  }

  #sidebar ul li:last-of-type{
    background-position: -1530px;
  }
  
  #sidebar ul li:hover{
    transform: rotate(360deg); 
    /* transform: scale(0.5); */
  }
  
  #footer{
    background-color: greenyellow;
    padding: 20px;
  
  }
  
  /* @media screen and (min-width:768px) {  /*Da 768px IN SU!*/
    #nav{
      width: 25%;
      float: right;
      margin: 15px 0;
    }
  
    #nav li{
      width: 100%;
    }
  
    #sidebar{
      width: 25%;
      float: right;
    }
  
    #content{
      width: 70%;
      float: left;
    }
  
    #pageBody{
      overflow: auto;
    }
  
    /* #footer{
      clear: both;
    } 
  }
  
  @media screen and (min-width:1024px) and (max-width:1200px){
    #pageBody{
      max-width: 1200px;
      margin: 0 auto;
    }
  
    #nav{
      width: calc(15% - 15px);
      margin-left: 15px;
    }
  
    #sidebar{
      width: calc(25% - 15px);
      margin: 15px 0 15px 15px;
    }
  
    #content{
      width: 60%;
    }
  } */
  
  
  @media screen and (orientation:portrait) {  
    #nav{
      width: 25%;
      float: right;
      margin: 15px 0;
    }
  
    #nav li{
      width: 100%;
    }
  
    #sidebar{
      width: 25%;
      float: right;
    }
  
    #content{
      width: 70%;
      float: left;
    }
  
    #pageBody{
      overflow: auto;
    }
  
    /* #footer{
      clear: both;
    } */
  }
  
  @media screen and (orientation:landscape) {
    #pageBody{
      max-width: 1200px;
      margin: 0 auto;
    }
  
    #nav{
      width: calc(15% - 15px);
      margin-left: 15px;
    }
  
    #sidebar{
      width: calc(25% - 15px);
      margin: 15px 0 15px 15px;
    }
  
    #content{
      width: 60%;
    }
  }