*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: orange;
}

.container{
    /* border: 1px solid black; */
    /* width: 1200px; */
    max-width: 1200px;
    overflow: auto; 
    margin: 0 auto;
}

.container section, .container article{
    /* width: 599px; */
    /* width: 50%; */
    float: left;
    border: 2px solid red;
    padding: 5px;
}

.container section{
    /* width: 800px; */
    /* width: 66.666666%; */
    /* width: calc((800 / 1200) * 100%); */
    width: calc((100% / 2));
}

.container article{
    /* width: 400px; */
    /* width: 33.333333%; */
    /* width: calc((400 / 1200) * 100%); */
    margin-left: 1px;
    width: calc((100% / 2) - 1px);
}

section img{
    max-width: 100%;
    /* width: 100%; */
}

footer{
    /* clear: both; */
    background-color: green;
}


/*Nella seguente media query voglio cambiare il colore di sfondo del body per tutti i dispositivi di tipo "screen" con larghezza 768px:*/
@media screen and (max-width:768px){  /*con max-width faccio valere la media query da 768px IN GIU'!*/
    body{
        background-color: blue;
    }
}


@media print{
    body{
        font-family: sans-serif;
    }
    
    section img{
        display: none;
    }
}
