<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Rigido</title>
    <link rel="stylesheet" href="rigido.css">
    <link rel="stylesheet" href="mediaQueries.css">
</head>
<body>
    <header>
        <h2>Header</h2>
    </header>

    <div class="container">
        <section>
            <h3>
                Tag Section
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magnam eveniet perspiciatis? Quod quas maxime, pariatur qui tempora et dolorem dignissimos amet, fugiat dolores consequuntur. Autem temporibus ut ab similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum reprehenderit dolore, vitae fugiat minus culpa repellat voluptas voluptatum numquam eveniet quidem labore iusto, corporis eum laboriosam iste facilis sit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quibusdam. Sequi beatae, consequuntur vel veniam dicta laboriosam incidunt praesentium quidem quibusdam tempora placeat nostrum, facere quisquam deserunt. Provident, similique aliquam!</p>

            <img src="colosseo.webp" alt="">
        </section>

        <article>
            <h3>
                Tag Article
            </h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat esse dolor consectetur in quisquam incidunt accusantium ipsum ad nam culpa deserunt odit ducimus ratione debitis, magni repellendus rerum qui modi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quidem numquam fugiat molestiae natus eius ea amet qui sapiente. Quae iure necessitatibus itaque, quod consequuntur ratione? Quas libero iure magni.</p>
        </article>
    </div>

    <footer>
        <h2>Footer</h2>
    </footer>
</body>
</html>